body
{
box-sizing: border-box;
 min-height: 100%;
}

.fontName{
    font-family: "Satisfy";
}

.textIndent{
    text-indent: 100px;
}

.iconColor{
    color: #2ecc71;
}

.container-fluid{
    min-height: 100%;   
}

a.nav-link{
    color: whitesmoke;
}

a.nav-link:hover{
    color: black;
    background-color: #e9cd79;
}

a.nav-link.active{
    color: black;
    background-color: #ffc107;
    font-weight: bold;
}